<div class="text_pres">
  <p class="text_pres--paragraph">Voici le backoffice du jeu out inside.</p>
  <p class="text_pres--paragraph">Cette application permet de modifier les éléments visuels et sonores du jeu.</p>
  <p class="text_pres--paragraph">Vous avez ainsi la possibilité de modifier les textures, les musiques, les skybox et les couleurs des lumières du jeu out inside.</p>
  <p class="text_pres--paragraph">Ce jeu est réalisé par l'équipe BEAP composée de :</p>
</div>
<div class="team_pres">
  <div class="team_pres--member">
    <img src="../../../assets/baptiste.monfray.jpg" height="200">
    <p class="team_pres--member--name">Baptiste Monfray</p>
  </div>
  <div class="team_pres--member">
    <img src="../../../assets/erwan.salle.jpg" height="200">
    <p class="team_pres--member--name">Erwan Salle</p>
  </div>
</div>
<div class="team_pres">
  <div class="team_pres--member">
    <img src="../../../assets/alexia.becouze.jpg" height="200">
    <p class="team_pres--member--name">Alexia Becouze</p>
  </div>
  <div class="team_pres--member">
    <img src="../../../assets/paul.radic.jpg" height="200">
    <p class="team_pres--member--name">Paul Radic</p>
  </div>
</div>

