<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="menu-icon">menu</mat-icon></button>
  <img class="img-fluid" src="assets/logo.png">
</mat-toolbar>

<mat-sidenav-container class="sidenav-and-content">
  <mat-sidenav #sidenav [mode]="'side'" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="texture" class="sidenav-link">Texture</a>
      <a mat-list-item routerLink="musique" class="sidenav-link">Musique</a>
      <a mat-list-item routerLink="skybox" class="sidenav-link">Skybox</a>
      <a mat-list-item class="sidenav-link">Mesh</a>
      <a mat-list-item routerLink="light" class="sidenav-link">Couleur de la lumiere</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

