<h2>{{data.type}} : modifier le {{data.levelName}}</h2>
<form class="file__upload__form">
  <input class="file__upload__input" id="file-upload" type="file"/>
  <label for="file-upload" class="file__upload__div">

    <mat-icon class="file__upload__icon">upload_file</mat-icon>
    <p class="file__upload__label">Selectionner votre fichier</p>
  </label>
  <div class="button__group">
    <button mat-raised-button color="accent">Enregistrer</button>
    <button mat-raised-button color="warn">Annuler</button>
  </div>
</form>
