<h2>{{data.type}} : modifier le niveau {{data.levelNumber}}</h2>
<form class="file__upload__form">
  <input class="file__upload__input" id="file-upload" type="file" (change)="onFileSelected($event)"/>
  <label for="file-upload" class="file__upload__div" *ngIf="!file">
      <mat-icon class="file__upload__icon">upload_file</mat-icon>
      <p class="file__upload__label">Selectionner votre fichier</p>
  </label>
  <label for="file-upload" *ngIf="file" class="file__upload__div loaded">
    <mat-icon class="file__upload__icon">check_circle_outline</mat-icon>
    <p class="file__upload__label">Votre fichier est prêt à être upload</p>
  </label>
  <div class="button__group">
    <button mat-raised-button color="accent" (click)="uploadFile()">Enregistrer</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Annuler</button>
  </div>
</form>
